.App {
  text-align: center;
}

.arrow {
    height: 50px;
}

.arrow:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(227, 195, 250, 0.4);
}

h1 {
    color: white;
}

.card-title, .card-header {
    color: white;
}

.card-title:hover, .card-header:hover {
    color: #FF5700;
}